<link rel="stylesheet" type="text/css" href="About.css">
<script src="About.js"></script>

<a href="http://google.com">
    <button type="button">
        <p>
            BUTTON!
        </p>
    </button>
</a>
