@using System.IO
@using Factory.Renderer
@using Factory.Components
@using Factory.Renderer.FileOut
@using Renderer.Models.HtmlRenderer

@model Root

@{
    var rend = new RendererFactory<CshtmlRenderOut>().Allow<HtmlRenderOut>().ForStringWriter().ForComponent(Model).Render();
}

<div>
    <style>
        @Html.Raw(rend["Style"].ToString())
    </style>
    @Html.Raw(rend["View"].ToString())
</div>