<div>
    <style id="RenderedStyle">
        @Html.Raw(ViewData["RenderedStyle"].ToString())
    </style>
    <div>
        @Html.Raw(ViewData["RenderedView"].ToString())
    </div>
    <div id="CompressedSource" style="display:none">
        @Html.Raw(ViewData["CompressedSource"].ToString())
    </div>
    <script>
        @Html.Raw(ViewData["RenderedLogic"].ToString())
    </script>
</div>